<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BibliothequeMusicale</display-name>
  
  <servlet>
    <display-name>UtilisateurServlet</display-name>
    <servlet-name>UtilisateurServlet</servlet-name>
    <servlet-class>Servlet.UtilisateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateurServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
    <url-pattern>/UtilisateurServlet</url-pattern>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>ClientServlet</display-name>
    <servlet-name>ClientServlet</servlet-name>
    <servlet-class>Servlet.ClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientServlet</servlet-name>
    <url-pattern>/AuthentificationClient</url-pattern>
    <url-pattern>/InscriptionClient</url-pattern>
    <url-pattern>/AccueilClient</url-pattern>
    <url-pattern>/GestionPlaylist</url-pattern>
    <url-pattern>/AjoutPlaylist</url-pattern>
    <url-pattern>/ProfilClient</url-pattern>
	<url-pattern>/ModificationProfilClient</url-pattern>
    <url-pattern>/Sandbox</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>AdministrateurServlet</display-name>
    <servlet-name>AdministrateurServlet</servlet-name>
    <servlet-class>Servlet.AdministrateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdministrateurServlet</servlet-name>
    <url-pattern>/AuthentificationAdministrateur</url-pattern>
    <url-pattern>/AccueilAdministrateur</url-pattern>
    <url-pattern>/ProfilAdministrateur</url-pattern>
    <url-pattern>/Statistiques</url-pattern>
    <url-pattern>/ModificationProfil</url-pattern>
    <url-pattern>/ModificationProfilAdministrateur</url-pattern>
    <url-pattern>/ModificationCatalogue</url-pattern>
    <url-pattern>/CreationTitre</url-pattern>
    <url-pattern>/ModificationTitre</url-pattern>
    <url-pattern>/SuppressionTitre</url-pattern>
    <url-pattern>/AjoutCatalogue</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>Accueil.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>